<div>
<div class="footer">
  <div class="footer-1">
    <div class="footer-11">
      <img src="/assets/img/MyPT-logo.png" alt="noo" />
      <h2>mypt.com</h2>
    </div>

    <h3>FOLLOW US ON:</h3>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-threads"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="footer-2">
     <h2>Key Page</h2>
     <p>✦ PT</p>
     <p>✦ AboutUs</p>
     <p>✦ Contact</p>
     <p>✦ Profile</p>
  </div>
  <div class="footer-3">
     <h2>Community</h2>
     <p>✦ Blog</p>
     <p>✦ Facebook trainer community</p>
     <p>✦ Youtobe</p>
     <p>✦ Refer & Earn</p>
  </div>
  <div class="footer-4">
     <h2>Customer</h2>
     <p>✦ Login</p>
     <p>✦ Sign Up</p>
     <p>✦ Contact Us</p>
     <p>✦ Support</p>
  </div>
  <div class="footer-5">
    <h2>Legal</h2>
    <p>✦ Terms of user</p>
    <p>✦ Privacy Policy</p>
    <p>✦ Acceptable use policy</p>
    <p>✦ Subscription services</p>
    <p>✦ GDPR policy</p>
    <p>✦ Cookie policy</p>
  </div>
 </div>
 <p class="p-0">© Copyright 2024 My PT Hub – All rights reserved.</p>
</div>
