.register-form{
  margin: 100px auto;
}

.register-form h1{
  text-align: center;
  margin: 20px;
  color: #006591;
}

button{
  width: 400px;
  height: 60px;
  background: linear-gradient(45deg, #69b2ff, #12e18b);
  border: solid 0px;
}

button:hover{
  background: linear-gradient(45deg, #29ffd1, #0090cc);
}

.input-container{
  display: flex;
  padding: 10px;
  color: #238cba;
}

i{
  background-color: rgb(213, 213, 213);
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
}

input{
  height: 50px;
  border-radius: 0px 10px 10px 0px;
}
