
<div class="slider-container">
  <div class="text-feedback" data-aos="fade-down">
    <h1>Feedback from customers</h1>
    <p>Every feedback from customers is the driving force for us to develop further</p>
  </div>
  <div class="slider">
    <div class="slide" *ngIf="currentSlide === 0" >
      <div class="img-feedback" data-aos="fade-right">
         <img src="/assets/img/feedback1.png" alt="">
      </div>
      <div class="text-feedback1" data-aos="fade-left">
          <h1>Mr. Tan Nguyen Trong</h1>
          <p>"MyPT has brought me great experiences that I have never had before,
             the trainer's exercises are extremely reasonable for me.
             Wish I knew about it sooner"</p>
      </div>
    </div>
    <div class="slide" *ngIf="currentSlide === 1">
      <div class="img-feedback" data-aos="fade-right">
        <img src="/assets/img/feedback33.png" alt="">
      </div>
      <div class="text-feedback1" data-aos="fade-left">
        <h1>Ms. Jenifer Aurora</h1>
        <p>
          "I'm a busy person who doesn't have much time to go to the gym to improve my physique
          , and the price is quite expensive, so MyPT is always my top choice,
           and the trainers are also very friendly. enthusiastic and friendly"</p>
      </div>
    </div>
    <div class="slide" *ngIf="currentSlide === 2">
      <div class="img-feedback" data-aos="fade-right">
        <img src="/assets/img/feedback3.png" alt="">
      </div>
      <div class="text-feedback1" data-aos="fade-left">
        <h1>Mr. Rodigo Goes</h1>
        <p>"When we want to achieve our goals, we need to have a clear roadmap,
           which MyPT has done very well. Every plan is calculated to suit each person's physical condition,
            thereby helping you achieve your goals.
           Get results as quickly as possible"</p>
      </div>
    </div>
  </div>
</div>
