<div class="d-flex" style="margin-top: 80px;">
  <div class="sidebar bg-light vh-100 p-3 position-sticky border-end main-sidebar" style="width: 250px; top: 0;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="subpage1" routerLinkActive="active" class="nav-link text-dark subpage">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="subpage2" routerLinkActive="active" class="nav-link text-dark subpage">Course</a>
      </li>
      <li class="nav-item">
        <a routerLink="subpage3" routerLinkActive="active" class="nav-link text-dark subpage">Statical</a>
      </li>
      <li class="nav-item">
        <a routerLink="subpage4" routerLinkActive="active" class="nav-link text-dark subpage">Training</a>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content flex-grow-1 p-3">
    <router-outlet></router-outlet>
  </div>
</div>
