<!-- <div class="slideshow-container">
  <div class="mySlides fade" *ngFor="let slide of slides; let i = index" [ngStyle]="{'background-image': 'url(' + slide.imageUrl + ')'}">
      <div class="content">
          <h2>Slide {{ i + 1 }}</h2>
          <p>{{ slide.caption }}</p>
      </div>

  </div>
     <h1>sdgdsgds</h1>
      <h1>sdgdsgds</h1>
      <h1>sdgdsgds</h1>
      <h1>sdgdsgds</h1>
      <h1>sdgdsgds</h1>
      <h1>sdgdsgds</h1>
 <img src="/my-app/src/assets/img/CR307099.jpg" alt="noo">

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div> -->
<!-- <app-content1></app-content1>
<app-content2></app-content2> -->
<!-- <app-content2></app-content2> -->
<h1>egfgdg</h1>
