<div class="container">
  <div>
       <h1>Checkout</h1>
       <p>Please check all information before payment</p>
  </div>
  <div class="main-check-out">
       <div class="customer">
           <h1>Infomation customer</h1>
           <p>content</p>
       </div>
       <div class="payment-method">
           <h1>Payment method</h1>
           <div>
              <h1>dfd</h1>
           </div>
           <div>
               <h1>dfdf</h1>
           </div>
           <div>
              <h1>dfd</h1>
           </div>
           <p>content</p>
       </div>
       <div class="infomation-order">
          <h1>Infomation order</h1>
          <p>content</p>
       </div>
  </div>
</div>
