<p>contacts works!</p>
<app-content3></app-content3>

<div class="background-container" data-aos="fade-up">
  <div class="filter">
  <div class="main-content">
   <div class="left-content" data-aos="fade-up">
    <h1>BLOG</h1>
    <p>Welcome to our gym blog – your go-to for all things body shape, health and fitness.
       Here you'll find Expert Tips, motivation and workout ideas to help you reach your goals
        and feel your best. Whether you're new to the gym or a seasoned pro, we've got something to inspire every step of your journey.</p>

    <p>There are many shares related to Gym, Pilates, Yoga,... all the information you need to find</p>
   </div>
   <div class="right-content" data-aos="fade-up">
      <button>More Infomation</button>
   </div>
 </div>
</div>
</div>
