<div class="background-container" [style.backgroundImage]="backgroundSelector">
  <div class="main-content">
    <div class="courseInfo" (mouseleave)="leaveGym()" (mouseenter)="gymBackground()">
      <div class="background-img" style="background-image: url('/assets/img/PtPage/course1.png');">
        <div *ngIf="hideButtonGym">
          <button>Get Course</button>
        </div>
      </div>
      <h1>ABOUT GYM</h1>
    </div>
    <div class="courseInfo" (mouseleave)="leavePilates()" (mouseenter)="pilatesBackground() ">
      <div class="background-img" style="background-image: url('/assets/img/PtPage/course3.png');">
        <div class="filter"></div>
        <div *ngIf="hideButtonPilates">
          <button>Get Course</button>
        </div>
      </div>
      <h1>ABOUT PILATES</h1>
    </div>
    <div class="courseInfo" (mouseleave)="leaveYoga()" (mouseenter)="yogaBackground()">
      <div class="background-img" style="background-image: url('/assets/img/PtPage/course22.png');">
        <div *ngIf="hideButtonYoga">
          <button>Get Course</button>
        </div>
      </div>
      <h1>ABOUT YOGA</h1>
    </div>
  </div>
</div>
