
<div class="background-container" data-aos="fade-up">
  <div class="filter">
  <div class="main-content">
   <div class="left-content" data-aos="fade-up">
    <h1>BLOG</h1>
    <p>Welcome to our gym blog – your go-to for all things body shape, health and fitness.
       Here you'll find Expert Tips, motivation and workout ideas to help you reach your goals
        and feel your best. Whether you're new to the gym or a seasoned pro, we've got something to inspire every step of your journey.</p>

    <p>There are many shares related to Gym, Pilates, Yoga,... all the information you need to find</p>
   </div>
   <div class="right-content" data-aos="fade-up">
      <button>More Infomation</button>
   </div>
 </div>
</div>
</div>



<!-- <p>content3 works!</p>
<div class="container">
  <h2 data-aos="fade-up">Tiêu đề cuộn lên</h2>
  <p data-aos="fade-right">Đoạn văn bản cuộn từ phải vào</p>
  <div data-aos="zoom-in">Phần tử phóng to dần</div>

  <form (ngSubmit)="onSubmit()">
    <div *ngIf="isValid">
      <h1>{{username}}</h1>
      <h1>{{password}}</h1>
  </div>
    <div>
      <label for="username">Username</label>
      <input type="text" placeholder="Enter username" id="username" [(ngModel)]="username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="Enter password" id="password" [(ngModel)]="password" name="password">
    </div>
    <button (click)="add()">Click me!!</button>
    <div *ngIf="condition" class="animation-input">
       <label id="emaill">Email</label>
       <input type="email" placeholder="Enter your email" id="emaill" >
       <label for="usernamee">username</label>
       <input type="username" placeholder="Enter email" id="usernamee" >
    </div>
    <button type="submit" (click)="formData()">Submit</button>

  </form>
</div> -->
