<div class="main-container">
  <div class="content">
    <div class="card-child-1">
      <div class="text-content">
        <h1>Contern</h1>
        <img src="assets/img/img2.png" alt="dfd"  >
        <h3>This is title</h3>
        <p>this is contern 1</p>
      </div>
       <div class="card-child-2">
        <div class="card-child-3">
          </div>
       </div>
    </div>
    <div  class="card-child-1">
      <div class="text-content">
        <h1>Contern</h1>
        <img src="assets/img/img2.png" alt="dfd"  >
        <h3>This is title</h3>
        <p>this is contern 1</p>
      </div>
      <div class="card-child-2">
        <div class="card-child-3">
            <div>
           </div>
          </div>
       </div>
    </div>
    <div  class="card-child-1">
      <div class="text-content">
        <h1>Contern</h1>
        <img src="assets/img/img2.png" alt="dfd"  >
        <h3>This is title</h3>
        <p>this is contern 1</p>
      </div>
      <div class="card-child-2">
        <div class="card-child-3">
          <div>
         </div>
         </div>
      </div>
   </div>
      <div class="card-child-1">
        <div class="text-content">
          <h1>Contern</h1>
          <img src="assets/img/img2.png" alt="dfd"  >
          <h3>This is title</h3>
          <p>this is contern 1</p>
        </div>
        <div class="card-child-2">
          <div class="card-child-3">
            <div>
           </div>
          </div>
        </div>
     </div>
   </div>
</div>
